.featured-movie {
    min-height: 70vh;
    position: relative;
}
.featured-movie-bg-img {
    min-height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 1;
}
.featured-movie-details {
    color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    display: flex;
    width: 70%;
    max-height: 95%
}
.featured-movie-poster-container {
    width: 100%;
}
.featured-movie-poster {
    object-fit: contain;
    width: 100%;
    height: 100%;
}
.featured-movie-card {
    background-color: rgba(41, 50, 65, 0.4);
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.featured-movie-text {
    padding: 2rem;
}
.featured-movie-text h1 {
    margin-bottom: 0.5rem;
}
.featured-movie-text p {
    color: #d3d3d3;
}
.featured-movie-btns {
    margin-left: 1rem;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 65%;
}
.featured-movie-btns a {
    text-decoration: none;
    transition: all 0.15s ease-out;
}
.featured-cta {
    background: #E0FBFC;
    color: #333;
    padding: 0.625rem 1rem;
    border-radius: 8px;
}
.featured-cta:hover {
    background: #eff3f3;
    border-radius: 6px;
}
.featured-info {
    padding: 1rem;
    color: white;
}
.featured-info:hover {
    color: #E0FBFC;
    text-decoration: underline;
}


@media only screen and (max-width: 1550px) {
    .featured-movie-btns {
        width: 70%;
    }
}
@media only screen and (max-width: 1200px) {
    .featured-movie-btns {
        width: 80%;
    }
}
@media only screen and (max-width: 992px) {
    .featured-movie-details {
        width: 100%;
    }
}

@media only screen and (max-width: 894px) {
    .featured-movie-details {
        width: 90%;
    } 
    .featured-movie-btns {
        width: 100%;
    }
}
@media only screen and (max-width: 768px) {
    .featured-movie-details {
        width: 90%;
        top: 25%;
        transform: translate(-50%, -25%);
    }
    .featured-movie-card {
        margin-left: 0;
    }
    .featured-movie-btns .featured-info {
        display: none;
    }
    .featured-movie-btns .featured-cta {
        width: 90%;
    }
}

@media only screen and (max-width: 576px) {
    .featured-movie-details {
        width: 98%;
    }
    .featured-movie-text > h1 {
        font-size: 1.5rem;
        text-decoration: underline;
    }
    .featured-movie-text > p {
        font-size: 1rem;
    }
    .featured-movie-btns {
        margin-left: 0;
    }
}