.single-movie-page-container {
    min-height: 70vh;
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 93.27%);
    display: grid;
}

.movie-details-container {
    background: linear-gradient(281.07deg, rgba(41, 50, 65, 0.5) 72.09%, rgba(41, 50, 65, 0) 87.77%);
    width: 75%;
    min-height: 90%;
    margin: 1.5rem auto;
    display: flex;
    padding: 2rem 0;
    gap: 0.5rem;
}
.single-movie-poster-container {
    width: 45%;

}
.single-movie-poster {
    width: 100%;
    height: auto;
}
.single-movie-detail-container {
    color: #FFFFFF;
    position: relative;
    height: fit-content;
}
.movie-title {
    font-size: 3rem;
    font-weight: bold;
}
.single-movie-details-extra-title-details {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 20%;
}
.single-movie-details-percent {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1.5rem;
    height: 3.725rem;
    padding-right: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 1rem;
}
.single-movie-genres {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1rem;
}
.single-movie-genres-large {
    width: 40%;
}
.single-movie-genres-small {
    width: 25%;
}
.single-movie-genres p {
    background-color: #646c79;
    padding: 0.5rem 0.75rem;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.1s ease-in;
}
.single-movie-genres p:hover {
    border-radius: 0;
    background-color: #454a53;
}

.single-movie-overview {
    margin-top: 1rem;
    padding-right: 5rem;
}
.single-movie-overview p {
    color: #fcfcfc;
}
.single-movie-overview-tagline {
    font-style: italic;
    margin-top: 0.5rem;
}

.extra-detail-title {
    font-size: 1.5rem;
    color: #FAFAFA;
    font-weight: bold;
    margin-top: 1rem;
}
.single-movie-container {
    width: 90%;
    margin: auto;
}
.single-movie-director-writer-container {
    margin-top: 1.5rem;
}
.single-movie-writer-container {
    margin-top: 0.5rem;
}
.single-movie-watch-providers {
    margin-top: 1.5rem;
}

/*Percent background colour in App.css*/


@media only screen and (max-width: 1550px) {
    .movie-details-container {
        width: 85%;
    }
    .movie-title {
        font-size: 2.75rem;
    }
    .single-movie-genres-large {
        width: 45%;
    }
    .single-movie-genres-small {
        width: 30%;
    }
}
@media only screen and (max-width: 1200px) {
    .movie-details-container {
        width: 95%;
    }
    .movie-title {
        font-size: 2.5rem;
    }
    .single-movie-details-extra-title-details {
        width: 25%;
    }
}
@media only screen and (max-width: 992px) {
    .movie-details-container {
        width: 99%;
    }
    .movie-title {
        font-size: 2.375rem;
    }
    .single-movie-subtitle {
        font-size: 1.35rem;
    }
    .single-movie-genres-large {
        width: 50%;
    }
    .single-movie-genres-small {
        width: 35%;
    }
    .single-movie-director-writer-container {
        display: flex; 
        flex-direction: row;
        align-items: baseline;
        margin-top: 1rem;
    }
    .single-movie-director-container {
        margin-right: 3rem;
    }
    .single-movie-watch-providers {
        margin-top: 1rem;
    }
}

@media only screen and (max-width: 894px) {
    .single-movie-details-extra-title-details {
        width: 30%;
    }
    .single-movie-genres-large {
        width: 55%;
    }
    .single-movie-genres-small {
        width: 40%;
    }
}
@media only screen and (max-width: 768px) {
    .single-movie-details-extra-title-details {
        width: 40%;
    }
    .movie-title {
        font-size: 2rem;
    }
    .single-movie-subtitle {
        font-size: 1.25;
    }
    .single-movie-genres-large {
        width: 75%;
    }
    .single-movie-genres-small {
        width: 45%;
    }
}

@media only screen and (max-width: 576px) {
    .single-movie-details-extra-title-details {
        width: 45%;
        font-size: 0.938rem;
    }
    .single-movie-genres {
        font-size: 0.875;
    }
    .single-movie-genres-large {
        width: 90%;
    }
    .single-movie-genres-small {
        width: 50%;
    }
}