.horizontal-movies-list {
    width: 100%;
    margin-left: 1rem;
    overflow-x: scroll;
    overflow-y: hidden;
    display: flex;
    flex-direction: row;
    padding: 0.5rem 0 0 0.5rem;
    column-gap: 0.5rem;
    height: 40vh;
}
.horizontal-movies-list-movie-container {
    width: 15rem;
    margin-bottom: 0.25rem;
}
.horizontal-movies-list::-webkit-scrollbar {
    width: 5px;
    height: 10px;
    border-radius: 12px;
}
.horizontal-movies-list::-webkit-scrollbar-track {
    background: rgba(13, 16, 20, 0.9);
}
.horizontal-movies-list::-webkit-scrollbar-thumb {
    background: #888;
}
.horizontal-movies-list::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* React Transition Group style names */
.horizontal-movies-list-transition-enter {
    opacity: 0;
    transform: translate(0, 10px);
}
.horizontal-movies-list-transition-enter-active {
    opacity: 1;
    transform: translate(0, 0);
    transition: all 0.9s ease-in;
}
.horizontal-movies-list-transition-exit {
    opacity: 1;
    transform: translate(0, 0);
}
.horizontal-movies-list-transition-exit-active {
    opacity: 0;
    transform: translate(0, 5px);
    transition: all 0.5s ease-in-out;
}

@media only screen and (max-width: 870px) {
    .horizontal-movies-list {
        height: fit-content;
    }
}
@media only screen and (max-width: 576px) {
    .horizontal-movies-list {
        margin-left: 0rem;
    }
}