.results-grid-container {
    margin: 1rem;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    row-gap: 0.75rem;
}
.results-grid-result-container {
    width: fit-content;
}

/* React Transition Group style names */
.result-transition-enter {
    opacity: 0;
    transform: translate(-10px, 0);
}
.result-transition-enter-active {
    opacity: 1;
    transform: translate(0, 0);
    transition: all 0.4s ease-in-out;
}
.result-transition-exit {
    opacity: 1;
    transform: translate(0, 0);
}
.result-transition-exit-active {
    opacity: 0;
    transform: translate(10px, 0);
    transition: all 0.4s ease-in-out;
}
