.App {
  background: linear-gradient(135.32deg, #293241 15.86%, rgba(41, 50, 65, 0.9) 100%);
  min-height: 100vh;
}
.App-header {
  min-height: 10vh;
}
.container {
  width: 90%;
  margin: auto;
  margin: 0 6rem;
  min-height: 80vh;
}
.container-title {
  margin-top: 1rem;
  color: #FFF;
}

/* Percent Background colour used in MovieCard and SingleMoviePage */
.percent-high {
  background: linear-gradient(90.8deg, #8BAF88 25.29%, rgba(103, 142, 99, 0) 124.4%);
}
.percent-medium {
  background: linear-gradient(90.8deg, #AFAF88 25.29%, rgba(142, 138, 99, 0) 124.4%);
}
.percent-low {
  background: linear-gradient(90.8deg, #AF8888 25.29%, rgba(142, 99, 99, 0) 124.4%);
}