.App {
  background: linear-gradient(135.32deg, #293241 15.86%, rgba(41, 50, 65, 0.9) 100%);
  min-height: 100vh;
}
.App-header {
  min-height: 10vh;
}
.container {
  width: 90%;
  margin: auto;
  min-height: 80vh;
}
.container-title {
  margin-top: 1rem;
  color: #FFF;
}
.sub-title {
  color: rgb(248, 248, 248);
}

.primary-btn {
  padding: 1rem 2rem;
  font-size: 1.25rem;
  border: none;
  cursor: pointer;
  display: block;
  margin: auto;
  transition: background-color 0.15s ease-in, color 0.1s ease-in-out;
}
.primary-btn:hover {
  background-color: var(--main-bg-color);
  color: aliceblue;
}

/* Toast Styles */
.toast {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 0.5rem;
  padding: 1rem 2rem;
  box-shadow: 2px 1px 4px #888888;
  border: 1px solid rgb(0, 0, 0);
  font-size: 1.25rem;
  border-radius: 50px;
  background-color: rgb(240, 240, 240);
  color: rgb(32, 32, 32);
}
.toast-icon-span i {
  transform: scale(1.5);
}

/* Percent Background colour used in MovieCard and SingleMoviePage */
.percent-high {
  background: linear-gradient(90.8deg, #8BAF88 25.29%, rgba(103, 142, 99, 0) 124.4%);
}
.percent-medium {
  background: linear-gradient(90.8deg, #AFAF88 25.29%, rgba(142, 138, 99, 0) 124.4%);
}
.percent-low {
  background: linear-gradient(90.8deg, #AF8888 25.29%, rgba(142, 99, 99, 0) 124.4%);
}