.list-of-movies-grid-container {
    background-color: #343C4A;
    padding: 1rem;
}
.more-results-btn {
    margin-top: 4rem;
}
@media only screen and (max-width: 650px) {
    .list-of-movies-grid-container {
        padding: 0.5rem;
    }
}